@import "variables";
.portfolio-section {
  padding: $padding-top-bottom-big;
  background-color: #f6f6f6;
  h2 {
    margin: 10px 0;
    @include h2-section;
  }
}

.portfolio-element {
  padding: 15px;
  position: relative;
  transition: 0.3s;
  .portfolio-element-hover {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    a{
      width: 55px;
      height: 55px;
      background-color: #fff;
      color: #333;
      font-size: 28px;
      font-weight: 400;
    }
  }
  img {
    width: 100%;
  }
  &:hover {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    .portfolio-element-hover {
      display: flex;
      a {
        text-decoration: none;
      }
    }
  }
}
@media only screen and (max-width: 540px) {
  .portfolio-section {
    padding: 30px 10px;
  }
}